@model RésuméBuilder.Models.Applicant

@{
    ViewBag.Title = "ApplicantDetails";
}


<!-- Internal CSS Styling -->
@Html.Partial("_InternalStyle")

<!-- Navigation Bar with Partial View -->
@Html.Partial("_NavBar")

<h2>Applicant Details for @Model.ApplicantUsername</h2>


<table class="applicantDetails" cellspacing="70">
    <thead>
        <tr><th>REGISTERED ID</th><th>REGISTERED USERNAME</th></tr>
    </thead>
    <tbody>
        <tr><td>@Model.ApplicantID</td><td>@Model.ApplicantUsername</td></tr>
    </tbody>
</table>

<br />

<p>VIEW FULL RESUME</p>


<p>
    Add Personal Information
    <!-- Link to: /Views/Personals/AddPersonalDetailsPageView/{applicantID}
        <a href="Views/Personals/AddPersonalDetailsPageView/@Model.ApplicantID">

        -->
    <a href="/Personals/AddPersonalsPageView/@Model.ApplicantID">HERE</a>
</p>


<!--

    Add Personals using ApplicantID

    using model ->"at" RésuméBuilder.Models.Applicant

    In relevant Controller:
    public ActionResult AddPersonalActionForm(Personal personalRecord)
    {

        var personalTable = dbContext.personalDB;

        personalTable.Add(personalRecord);
        dbContext.SaveChanges();

        int applicantID = personalRecord.ApplicantID;

        return RedirectToAction("ListOfApplicantsPageView", "Applicants");

        OR

        return RedirectToAction("ApplicantDetails(applicantID)", "Applicants")

    }



    Click to Add Personal -


    AddPersonalPageView ================

    PAGE VIEW:
    [ATTRIBUTE ROUTING REQUIRED IN CONTROLLER METHOD]
    /Views/Personals/AddPersonalDetailsPageView/{applicantID}

    FORM ACTION:
    - AUTOINCREMENT OCCURS FOR PersonalEntryID (Primary Key)
    - AUTO-FILL FORM BOX FOR APPLICANTID WITH {applicantID} [CRITICAL]
    - The remaining fields will be manually filled using form input

    @Model.ApplicantID just like link from List of Applicants to Applicant Details

    @Html.TextBoxFor(p => p.ApplicantID, new { @class = "form-control" })

    This way, Applicant.ApplicantID == Personal.ApplicantID

    Once ApplicantID are tied, easier to traverse records to pull a specific one






-->
<!--

    Adding and using multiple Models in a View
    http://www.dotnet-stuff.com/tutorials/aspnet-mvc/way-to-use-multiple-models-in-a-view-in-asp-net-mvc





-->
