

<!--
    Required for:
    1) Skill Model
    2) MyDBContext Model

-->
@using RésuméBuilder.Models



@{
    ViewBag.Title = "EditSkillsPageView";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //This value correlates to the ApplicantID between the Applicant and Skills Models
    //var id = ViewBag.TargetID;
    //Due to the nature of a Session variable, we have to convert it to an integer
    var id = Convert.ToInt32(Session["id"]);

    //Set up instance of Database Context
    MyDbContext dbContext = new MyDbContext();



}


@Html.Partial("_InternalStyle")

<body>


    <h2>Edit Your Skills</h2>

    <h3>Edit Skill Details for Registration ID @id</h3>



    @{ 
        //STEP 01: GET APPLICANT'S SKILL RECORDS FROM THE DATABASE

        //Pull Up Skills Database Table
        var skillsTable = dbContext.skillDB;


        //Create a list to store all records correlating to ApplicantID
        List<Skill> ApplicantSkills = new List<Skill>();


        //Get records from Skill Table correlating to ApplicantID
        foreach(var skillrecord in skillsTable)
        {
            if(skillrecord.ApplicantID == id)
            {
                //Store Skill records related to ApplicantID in List:
                ApplicantSkills.Add(skillrecord);
            }
        }

    }

<table>
    <thead>
        <tr><th></th><th>SKILL CATEGORY</th><th>SKILL POINT</th></tr>
    </thead>
    @{
        //STEP 02: LOAD APPLICANT'S SKILL RECORDS
        foreach (var skill in ApplicantSkills)
        {
            //WORKING!!
            //<p>@skill.SkillEntryID - @skill.SkillCategory - @skill.SkillPoint</p>



            //For each Skill Record for the Applicant, I want to:
            //Create Row, with each row containing the following fields:
            //1: RowID based on SkillEntryID (rowid+SkillEntryID) (Hidden Field)
            //2: SkillID (Hidden Field) with an id based on RowID
            //3: SkillCategory with an id based on RowID (Validate)
            //4: SkillPoint with an id based on RowID (Validate)
            //5: Update Button with an id based on RowID (Caution Check! Compare Old and New)
            //6: Delete Button with an id based on RowID (Caution Check! Okay to Delete?) (PLACE IN DIV)


            var skillentryid = skill.SkillEntryID;

            var rowid = "row_id" + skillentryid;

            var rowskillcategoryid = rowid + "skillcategory";
            var rowskillpointid = rowid + "skillpoint";

            

        <tr id="@rowid">

            <td>
                <p id="@skillentryid">@skill.SkillEntryID</p>
            </td>
            <td>
                <input type="text" name="name" id="@rowskillcategoryid" value="@skill.SkillCategory" />
            </td>
            <td>
                <input type="text" name="name" id="@rowskillpointid" value="@skill.SkillPoint" />
            </td>

            <!-- Passing a string variable to onclick function: -->
            <!-- https://www.geeksforgeeks.org/javascript-pass-string-parameter-in-onclick-function/ -->
            <td><button onclick="UpdateRecord('@skillentryid')">[UPDATE]</button></td>

            <!-- Passing a string variable to onclick function: -->
            <!-- https://www.geeksforgeeks.org/javascript-pass-string-parameter-in-onclick-function/ -->
            <td><button onclick="DeleteRecord('@skillentryid')">[DELETE]</button></td>

        </tr>

        
            










        }//End foreach
    }
    </table>


    <script>
        function ReloadPage() {

            //https://www.w3schools.com/jsref/met_loc_reload.asp
            location.reload();
        }
    </script>


    <!-- JAVASCRIPT CODE TO UPDATE AND DELETE SKILL RECORDS -->
    
    <script>

        //HANDLES UPDATES
        function UpdateRecord(skillentryid) {

            var rowid = "row_id" + skillentryid;
            window.alert("Testing 123 for ROWID " + rowid);

            var rowskillcategoryid = rowid + "skillcategory";
            var rowskillpointid = rowid + "skillpoint";
            window.alert(`${rowid}: ${rowskillcategoryid} - ${rowskillpointid}`);

            var category = document.getElementById(rowskillcategoryid).value;
            var point = document.getElementById(rowskillpointid).value;

            window.alert(`${category} - ${point}`);



            //VALIDATION FUNCTIONALITY
            //Check for:
            //1) Empty SkillCategory should be classified as General
            //2) Empty SkillPoint is NOT ALLOWED. Prompt user on this Error

            //1) Empty SkillCategory should be classified as General
            if (category == "") category = "General";

            //2) Empty SkillPoint is NOT ALLOWED. Prompt user on this Error
            if (point == "") {

                window.alert("INVALID. User must input a valid Skill Point.");

            }

            //If a valid SkillPoint was entered, proceed to Update process
            else { 


            //ACTION PROMPTS
            //https://sebhastian.com/javascript-confirmation-yes-no/

            let ConfirmUpdate = confirm("Are you sure you want to UPDATE record in Database?");

            if (ConfirmUpdate) {

                window.alert("Update Skill Record...");
                window.alert(`${category} - ${point}`);
                UpdateDBRecord(skillentryid, category, point);
                window.alert("Record was successfully updated. Refreshing page...");
                ReloadPage();
            }
            else {

                window.alert("No action was taken to Update record from Database.");
            }


            }


        }

        //HANDLES DELETES
        function DeleteRecord(skillentryid) {

            var rowid = "row_id" + skillentryid;
            window.alert("Testing 123 for ROWID " + rowid);

            var rowskillcategoryid = rowid + "skillcategory";
            var rowskillpointid = rowid + "skillpoint";
            window.alert(`${rowid}: ${rowskillcategoryid} - ${rowskillpointid}`);

            var category = document.getElementById(rowskillcategoryid).value;
            var point = document.getElementById(rowskillpointid).value;

            window.alert(`${category} - ${point}`);


            //ACTION PROMPTS
            //https://sebhastian.com/javascript-confirmation-yes-no/

            let ConfirmDelete = confirm("Are you sure you want to DELETE from Database?");

            if (ConfirmDelete) {

                window.alert("Deleting Skill Record...");
                DeleteDBRecord(skillentryid);
                RemoveSkillRow(rowid);
                window.alert("Record was successfully deleted.");
            }
            else {

                window.alert("No action was taken to DELETE record from Database.");
            }

        }

    </script>


    <script>

        //HERE IS FOR DELETING A ROW POST-ACTION (EITHER UPDATE OR DELETE)
        function RemoveSkillRow(rowid) {

            //window.alert(rowid);

            //https://bobbyhadz.com/blog/javascript-remove-dom-element-by-id
            const element = document.getElementById(rowid);     
            element.remove();

        }

    </script>


    <script>
        //HERE IS FOR UPDATING A SKILL DATABASE RECORD
        function UpdateDBRecord(skillentryid, category, point) {

            var targetSkillRecordID = skillentryid;
            window.alert("Skill Record to update has Skill Row Entry #" + targetSkillRecordID + " in the Skill DB");

            //Using the SkillEntryID found in the Skill DB, we pass this number to the SkillsController Action
            //that will take care of the updating action. This is achieved using AJAX Query.
            $.ajax({

                type: 'POST',
                url: '@Url.Action("SkillRecordUpdate")',
                data: {

                    skillrecordid: skillentryid,
                    skillcategory: category,
                    skillpoint: point
                }
            })

        }//UpdateDBRecord

    </script>

    <script>
        //HERE IS FOR DELETING A SKILL DATABASE RECORD
        function DeleteDBRecord(skillentryid) {

            var targetSkillRecordID = skillentryid;
            window.alert("Skill Record to delete has Skill Row Entry #" + targetSkillRecordID + " in the Skill DB");

            //Using the SkillEntryID found in the Skill DB, we pass this number to the SkillsController Action
            //that will take care of the deleting action. This is achieved using AJAX Query.
            $.ajax({

                type: 'POST',
                url: '@Url.Action("SkillRecordDelete")',
                data: {

                    skillrecordid: skillentryid

                }
            })

        }//DeleteDBRecord

    </script>





</body>